body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Roboto";
}

h4 {
  margin: 0 !important;
  padding: 0 !important;
}

.App {
  background-color: #fafafa;
  height: 100vh;
  padding-top: 40px;
}

.wrapper {
  width: 530px;
  margin: 0 auto;
  border-radius: 10px !important;
  overflow: hidden;
}

.item-text {
  flex: 1;
  line-height: 40px !important;
}

.header {
  background-color: #1976d2 !important;
  color: #fff !important;
  padding: 15px;
  margin-bottom: 10px !important;
  border-radius: 0 !important;
}

.field {
  display: flex;
  padding: 0 15px;

  .checkbox {
    position: relative;
    top: -5px;
  }

  .MuiInput-root:before {
    display: none !important;
  }

  button {
    width: 35px;
    height: 35px;
    min-width: 10px;
  }
}

.d-flex {
  display: flex;
}

.item {
  flex: 1;

  &-buttons {
    align-items: center;
    margin-left: 15px;
  }
}

.check-buttons {
  padding: 15px;
}

.check-all {
  min-width: 145px !important;
}

.popupClean {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.popupCleanAll {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.open {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.remove-popup {
  width: 330px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 5px 0 black;
  border-radius: 10px !important;
  background-color: white;
}
.header-remove-popup {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
